#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



* {
    box-sizing: border-box;
} 

html, body {
    height: auto;
    margin: 0;
    font-family: 'melior', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
